name: Execute Tests

on:
 push:
  branches:
   - main
   - develop
   - '*'

jobs:
 build:
  name: 'Build project'
  runs-on: ubuntu-latest
  steps:
   - name: Checkout
     uses: actions/checkout@v3

   - name: Set up Node.js
     uses: actions/setup-node@v3
     with:
      node-version: 18

   - name: Cache node modules
     id: cache-npm
     uses: actions/cache@v4
     env:
      cache-name: cache-node-modules
     with:
      path: |
       node_modules
      key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
      restore-keys: |
       ${{ runner.os }}-build-${{ env.cache-name }}-
       ${{ runner.os }}-build-
       ${{ runner.os }}-

   - name: Install dependencies
     run: npm install

 lint:
  name: 'Validate lint'
  needs: build
  runs-on: ubuntu-latest
  steps:
   - name: Checkout
     uses: actions/checkout@v3

   - name: Set up Node.js
     uses: actions/setup-node@v3
     with:
      node-version: 18

   - name: Cache node modules
     id: cache-npm
     uses: actions/cache@v4
     env:
      cache-name: cache-node-modules
     with:
      path: |
       node_modules
      key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
      restore-keys: |
       ${{ runner.os }}-build-${{ env.cache-name }}-
       ${{ runner.os }}-build-
       ${{ runner.os }}-
      run: npm install
   - name: Validate with ESLint
     run: npm run lint

 test:
  name: 'Validate tests'
  needs: build
  runs-on: ubuntu-latest
  steps:
   - name: Checkout
     uses: actions/checkout@v3

   - name: Set up Node.js
     uses: actions/setup-node@v3
     with:
      node-version: 18

   - name: Cache node modules
     id: cache-npm
     uses: actions/cache@v4
     env:
      cache-name: cache-node-modules
     with:
      path: |
       node_modules
      key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
      restore-keys: |
       ${{ runner.os }}-build-${{ env.cache-name }}-
       ${{ runner.os }}-build-
       ${{ runner.os }}-
      run: npm install

   - name: Run BDD tests
     run: npm run test:bdd

   - name: Run tests with Jest
     run: npm run test

   - name: Analyze with SonarCloud
     uses: SonarSource/sonarcloud-github-action@de2e56b42aa84d0b1c5b622644ac17e505c9a049
     env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
     with:
      # Additional arguments for the sonarcloud scanner
      args:
       # Unique keys of your project and organization. You can find them in SonarCloud > Information (bottom-left menu)
       # mandatory
       -Dsonar.projectKey=FIAP-SOAT-GRP5_ms-order
       -Dsonar.organization=fiap-soat-grp5
       -Dsonar.sources=src/
